@media query breakpoint of (min-width: 62.5em) {


    h1 {
        font-color: White;
    }

    .designprinciples {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 10px;
        padding: 10px;
    }
}