:root {
    /* change the values below to your colors from your palette */
    --primary-color: #FFFECB;   /* Yellow */
    --secondary-color: #3066BE; /* Blue */
    --accent1-color: #EFD9CE;  /* rose */
    --accent2-color: #607196;  /* gray */
    --accent3-color: #E8E9ED; /*   light gray  */
  
    /* change the values below to your chosen font(s) */
    <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Amiri&family=Open+Sans&display=swap" rel="stylesheet">
  
  
    --heading-font: 'Open Sans' , Helvetica, sans-serif;
    --paragraph-font: 'Amiri', Georgia, serif;
  }
  
  header {
      align-items: center;
      display: grid;
      grid-template-columns: auto;
      background-color: #3066BE;
      margin-top: 25px;
      padding: 20px;
      border-radius: 10px;
    }
    
    h1 {
      display: block;
      font-family: 'Open Sans', Helvetica, sans-serif;
      font-size: 2em;
      margin-block-start: 0.0em;
      margin-block-end: 0.67em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
      /* <!--font-weight: bold;--> */
      text-align: center;
      margin-left: 0;
    }
  
    h2 {
        display: block;
        font-family: 'Open Sans', Helvetica, sans-serif;
        
        margin-block-start: 0.0em;
        margin-block-end: 0.67em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        /* <!--font-weight: bold;--> */
        text-align: center;
        margin-left: 0;
      }
  
  
  
  
  body {
    background-color: #3066BE;
    font-family: 'Amiri', Georgia, serif;
    /*padding: 5px 25px; */
    /*font-size: 18px; */
    max-width: auto;
    margin: 0 auto;
    border-radius: 15px 15px 15px 15px;
  }
  
  main {
    display: block;
    background-color: #FFFECB;
    font-family: Georgia, serif;
    max-width: auto;
    margin: 0 auto;
  }
  
  .designprinciples {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    padding: 10px;
}
.box{
    background-color: #E8E9ED;
    border-radius: 5px;
    border: 2px solid gray;
    margin: 10px;
    max-width: auto;
    <!--width: 87%;-->
    align-items: center;
    font-family: "Poppins", sans-serif, Helvetica;
}

.box h3{
    background-color: #607196;
    color: white;
    margin: 0px;
    padding: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.box h4, p{
    margin: 0px;
    padding: 10px;
}

.box img {
    margin: 0px;
    padding: 10px;
    max-width: 20rem;
}

.mobileimg{
    align-items: center;
    max-width: 20em;
}
  
  
  footer {
      display: block;
      text-align: center;
    }
  
  script {
      display: none;
  }