:root {
    /* change the values below to your colors from your palette */
    --primary-color: #FFFECB;   /* Yellow */
    --secondary-color: #3066BE; /* Blue */
    --accent1-color: #EFD9CE;  /* rose */
    --accent2-color: #607196;  /* gray */
    --accent3-color: #E8E9ED; /*   light gray  */
  
    /* change the values below to your chosen font(s) */
   
}

.logo-box {
    background-color: #3066BE;
    display: inline-block;
    /* margin-left: 400px; */
    /* margin: 0 auto; */
    padding-left: 1em;
    padding-right: 1em;
    max-width: 50%;
}

header {
    
    background-color: #3066BE;
    border-radius: 10px;
    display: inline-flex;
	flex-direction: row;
	
	padding: 10px;
    align-items: center;
}


.log-box img {
    max-width: 15em%;
  }

  .social {
    display: flex;
    flex: 1 1 auto;
    text-align: right;
    float: right;
}
nav {
    background-color: #3066BE;
	text-align: right;
	display: flex;
	flex-direction: row;
    border-radius: 10px;
}
nav {
	margin: 0 auto;
	max-width: 760px;
	background-color: #3066BE;
}
.navigation {
	list-style: none;
	padding: 0;
}
.navigation li:first-child {
	display: block;
}
.navigation li {
	display: none;
}
.navigation a {
	display: block;
	padding: 0.75rem;
	text-align: left;
	text-decoration: none;
	color: black;
	font-weight: 700;
	transition: 0.5s;
	font-size: clamp(1rem, 2vmin, 1.5rem);
}

.navigation a.ham::before {
	content: "🍔 ";
}

.navigation a:hover {
	color: yellow;
	background-color: black;
}

/* the onclick JS toggles the .reponsive class from display none (.navigation li) to display block because the responsive class is added to the end of the class list like this in HTML.
  <ul class="navigation responsive">
*/
.responsive li {
	display: block;
}

.responsive a.ham::before {
	content: "❌ ";
}

h1,h2,h3 {
	font-family: 'Open Sans', sans-serif;
}

p {
	font-family: 'Amiri', sans-serif;
    font-size: large;
}

#content {
    max-width: 960px;
    margin: 0 auto;
    background-color: #CAF0F8;
    border-radius: 10px;
}

date {
    display: ;
    margin: 0.5rem;
    border: 1px solid #bbb;
    padding: 0.75rem;
    background-color: #eee;
    color: black;
}

#todayDate {
    text-align: center;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 20px;
}

footer {
    background-color: #3066BE;
    display: block;
    text-align: center;
  }

script {
    display: none;
}
