

main {
    max-width: 1500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1, footer {
    text-align: center;
    color: black;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 10px;
    margin: 2em;
}

section {
    text-align: center;
    background-color: rgb(88, 117, 243);
    border: 1px solid black;
}

h2 {
    color: rgb(236, 236, 20)
}

p {
    margin: 0;
}

img {
    margin: .75em;
    max-width: 250px;
    box-shadow: 4px 4px 4px 4px dark whitesmoke, 0 2px 2px 0 rgba(240, 243, 41, 0.836);
}