@media only screen and (min-width: 37.5em) {

    header {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: space-between;
    }

    h1 {
        font-size: 3.5em;
    }
    
    h2 {
        font-size: 2.5em;
    }

    nav ul li a {
        padding: 0.5rem 1rem;
    }
    
        .navigation {
            display: flex;
        }
        .navigation li {
            display: block; /* change state in small view */
            flex: 1 1 auto;
        }
        .navigation a {
            text-align: center;
        }
        .navigation li:first-child {
            display: none;
        }


    .logo-img{
        width: 75%;
    }




/*  Home Page  */

#welcome {
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
    margin: 3em 1em 0 1em;
  }




    /*  Temples Page  */




/*  Contacts Page  */
.callus {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
    margin: 0 auto;
	width:100%;
    justify-items: center;
    max-width: fit-content;
}
.pics {
    display: block;
    margin-top: 15px;
    grid-column: 1;
    padding: 30px;
}

.contact {
    margin: 0 auto;
    margin-top: 20px;
    max-width: 300px;
    padding: 30px;
  }


/*  Reservations Page  */
.reserve {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
	width:100%;
    max-width: fit-content;
}

.pics {
    display: block;
    margin-top: 15px;
    grid-column: 1;
}


/* Thank You */
.arigato {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}


/* Services */
.services {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    padding: 10px;
}
.services h4 {
    font-size: 1.5em;
}


}