main, footer {
    font-family: Ubuntu;
    color: white;
}

table{
    margin: 0 auto;
    box-shadow: 5px 5px 10px #0ca1db;
    color: black;
}

.table-header {
    font-size: x-large;
}

.subheading {
    font-size: large;
}

.subheading, #goal-met {
    background-color: #589fb1;
    color: white;
}

td, th, h1{
    text-align: center;
    padding: .5em;
    
}

h1 {
    color: black;
}

.table-header, .table-footer {
    background-color: #3066BE;
    color: white;
}

tr:nth-child(even) {
    background-color: #E8E9ED;
}

tr:nth-child(odd) {
    background-color: #f7bbb3;
}

.black-friday {font-style: italic;}

.table-footer {
    font-size: small;
}

footer {
    text-align: center;
    margin-top: 2em;
}

@media only screen and (min-width:600px) {
    table {
        width: 50%;
        max-width: 450px;
    }
}