@media (min-width: 34.5em) {

        .designprinciples {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
        padding: 10px;
    }

    h1 {
        color: Yellow;
    }

}