:root {
    /* change the values below to your colors from your palette */
    --primary-color: #FFFECB;   /* Yellow */
    --secondary-color: #3066BE; /* Blue */
    --accent1-color: #EFD9CE;  /* rose */
    --accent2-color: #607196;  /* gray */
    --accent3-color: #E8E9ED; /*   light gray  */
  
    /* change the values below to your chosen font(s) */
   
  
  
    --heading-font: Helvetica;
  }
  
  h1 h2 h3 h4 {
    font-family: 'Open Sans', Helvetica, sans-serif;
  }

  body {
    background-color: #3066BE;
    font-family: 'Amiri', Georgia, serif;
    /*padding: 5px 25px; */
    font-size: 20px; 
    max-width: 900px;
    margin: 0 auto;
    border-radius: 15px 15px 15px 15px;
  }
 
  
  header {
    /*text-align: center;*/
    display: flex;
    flex-flow: column;
    justify-content: center;
    background-color: #3066BE;
    margin-top: 25px;
    padding: 20px;
    border-radius: 10px;
    color: #E8E9ED;
      
    }
    
  h1 {
    display: block;
    font-size: 2.25em;
    color: #E8E9ED;
    margin-block-start: 0.0em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    /* <!--font-weight: bold;--> */
    text-align: center;
      
    }

  header h2 {
    display: block;
    color: white;
    margin-top: -20px;
    text-align: center;
      
  }

  .headnav{
    max-width: 100%;
    padding: 10px;
    background-color: #3066BE;
    text-align: center;
    border-radius: 5px;
    font-weight: 700;
    font-family: 'Open Sans', Helvetica, sans-serif;
    font-size: 1.5em;
}
nav ul{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /*flex-direction: column;*/
    list-style-type: none;
    padding-inline-start: 0px;
    margin: 0;
}
nav ul li{
    flex: 1 1 auto;
}
nav li{
    display: list-item;
}
    
  
    nav a {
      display: block;
      color:#efd9ce;
      text-decoration: none;
      /*align-items: center;*/
    }
  
    nav a:hover {
      background-color: #607196;
      color: yellow;
      border-radius: 10px;
    }
  
  main {
    
    background-color: #FFFECB;
    font-size: 18px;
    font-family: 'Amiri', Georgia, serif;
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
    
    }
  
  main h2 {
      font-family: 'Open Sans', Helvetica, sans-serif;
      text-align: center;
      padding-top: 1em;
    }
  
    .headingtext{
      font-family: 'Open Sans', Helvetica, sans-serif;
    }

    .fonttext{
      font-family: 'Amiri', Georgia, serif;
    }
  
  footer {
      display: block;
      color: #E8E9ED;
      text-align: center;
      margin-top: 30px;
    }
  
  script {
      display: none;
  }

  /* Typography page design */

#typographyMain p {
	text-align: center;
  margin-top: -10px;
  padding: 10px;
}

.chamberimage{
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}

h1 h2 h3 h4 {
  font-family: 'Open Sans', Helvetica, sans-serif;
}